body{
    margin:0;
    padding: 0;
}
.container
{
    background-color: yellow;
    margin:20px;
    border-radius: 5px solid;
    
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label
  {
    margin-bottom: 5px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: brown;
  }
  input{
    margin:10px;
  }
  input
  {
    /* padding:2px; */
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    font-size: larger;
  }
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0062cc;
  }
  #result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }